:root{
/* --main-div-colors:#212023; */
--main-div-colors:#150550;
--main-page-body-color:black;
--white-text:white;
--black-text:black;
--color-black:black;
--color-white:white;
--primary-color:#FC0077;

--secondary-color:#150550;
 --black:#04032E;
 --black3:#03023B;
 --input-back:#7B1284;
}

body{
    display: block;
    overflow-x: hidden;
    ;
    height: 100%;
    background-color: var(--black);
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: var(--main-div-colors);
    left: 0;
    top: 0;
    z-index: 1;
    
}

.topbar{
    /* height: 70px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 100;
    left: 20%;
    right: 0;
}


/* Styling the right side of the Top bar
containing images and username and bell icon */

.topbar .image-username-notification{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topbar .image-username-notification img{
    width: 15%;
    border-radius: 50%;
    margin: 0px 0;
    margin-left: 8px;
}
.topbar .image-username-notification #username{
    margin-left: 8px;
    color: var(--white-text);
}
.topbar .image-username-notification .fa-bell{

    background-color: var(--main-div-colors);
    padding: 10px;
    color: var(--white-text) ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}

/* Styling the left side of the top bar */

.topbar .greetingtop-time{
    margin-left: 5px;
    padding: 10px;
}

.topbar .greetingtop-time h3{

    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white-text);

}

.topbar .greetingtop-time p{
    font-family: 'Courier New', Courier, monospace;
    color: var(--white-text);
    margin-top: 3px;
}


/* Styling for the Dashboard Section */
.dashboard,.wallet, .settings{
    width: 80%;
    position: absolute;
    top: 100px;
    left: 20%;
    animation: wein 0.6s;
  
}

@keyframes wein {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.wallet, .settings{
    display: none;
}

.horizontal-box{
    margin-left: 50px;
    margin-top: 10px;
}
.box-horizontal{
    width: 20%;
    height: 200px;
    background-color: var(--main-div-colors);
    display: inline-block;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.699);
    overflow: hidden;
    padding-bottom: 15px;
   
}

.box-horizontal .crypto-icon{
    width: 30%;
    margin-top: 15px;
    margin-left: 15px;
}
.box-horizontal .crypto-icon img{
    width: 100%;
}

.box-horizontal .crypto-price{
    margin-left: 15px;
   
}

.box-horizontal .crypto-price h3{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    color: var(--primary-color);
}
.box-horizontal .crypto-price p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 5px;
     color: var(--white-text);
}

.box-horizontal .balances{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: var(--primary-color);
}

.box-horizontal .currency{
    text-align: center;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--white-text);
    font-size: 15px;
}
.box-horizontal .amount h3{
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}


/* Styling for the mobile topbar  */

.mobile-top-bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--main-div-colors);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.left-nav-icon{
    width: 25%;
    margin-left: 10px;
    cursor: pointer;
}
.left-nav-icon .harmburger{
    margin-top: 5px;
    background-color: var(--color-white);
    width: 40px;
    height: 5px;
    border-radius: 15px;
}
.left-nav-icon .harmburger:nth-child(2){
    width: 20px;
    margin-left: 20px;
}
.logo-center{
    width: 30%;
    margin-right: 50px;

}
.logo-center h3{
    color: var(--white-text);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.profile-image{
    width: 30%;
    height: 90%;
}
.mobile-top-bar .profile-image img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    
}
.after-mobile-top-bar{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    margin-top: 62px;
   border-top: 2px solid var(--color-white);
    background-color: var(--main-div-colors);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.after-mobile-top-bar .name-section-mobile{
    margin-left: 10px;
}
.after-mobile-top-bar .name-section-mobile h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white-text);
}
.after-mobile-top-bar .date-time-mobile{
    margin-right: 10px;
}
.after-mobile-top-bar .date-time-mobile h3{
    font-family: 'Courier New', Courier, monospace;
    color: var(--white-text);
}


/* Styling for the mobile topbar ends here */


.forex-trade-view-widget{
    width: 80%;
    margin: 0 0 13% 7%;
    height: 490px;
    padding: 15px;
    background-color: var(--main-div-colors);
    margin-top: 20px;
    border-radius:20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.699);
}



/* Styling the SideBar */

.sidebarbuttons{
    margin-top: 100px;
    margin-left: 50px;
    display: block;
}
.icons-side i{
    font-size: 15px;
}

.icons-side{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white-text);
    transition: 0.6s;
}

.icons-side:hover{
    margin-left: 20px;
    color: var(--primary-color);
}


.icons-side h3{
    margin-left: 10px;

}


.active-side-button{
    margin-left: 20px;
    color: var(--primary-color);
}


.side-bar-buttons button{
    display: flex;
    align-items: center;
}


/* Mobile Settings */
.mobile-chart{
    height: 300px;
    padding: 10px;
    margin-bottom: 300px;
}

.mobile-footer{
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    color: var(--white-text);
    font-size: 30px;
    justify-content: space-around;
    padding-bottom: 30px;
    background-color: var(--main-div-colors);
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 2px solid var(--primary-color);
}


/* Styling the Wallet Section */

.card-virtual{
    height: 200px;
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin: 0 auto;
}

.card-virtual h3{
    font-size: 40px;
    text-align: center;
    color: var(--white-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    justify-content: center;
}

.remaining-balancing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}







/* Styling the Settings Section */

.container{
    width: 80%;
    margin: 0 10%;
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.container .top{
    display: flex;
    align-items: center;
     width: 50%;
    justify-content: space-between;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid var(--color-black);
}

.container .top h4{
    cursor: pointer;
}
.password-setting-body1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: 15px;
}
.password-setting-body1 .change-password-button{
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white-text);
    width: 30%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
}
.password-setting-body1 .change-password-button:hover{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--black-text);
    cursor: pointer;
}

.deposit-setting  .deposit-setting-body1 .crypto-wallet-bitcoin{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: 15px;
    margin-top: 10px;

}
.deposit-setting input{
    width: 50%;
    padding: 10px;
    font-size: 15px;
    color: var(--primary-color);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:  2px solid var(--primary-color);
    border-radius: 10px
    ;
}
.fa-copy{
    font-size:20px;
    cursor: pointer;
}





/* Styling for a little bit large screens */

@media (max-width:800px){
    .sidebar{
        display: none;
    }
    .topbar{
        left: 0;
        width: 100%;
    }
    .dashboard, .settings, .wallet{
        width: 100%;
        left: 0;
        top: 125px;
        
    }
    .box-horizontal{
        width: 40%;
        display: inline-block;
        flex: 50%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .horizontal-box{
        margin-left: 70px;
    }
    .topbar{
        display: none;
    }
    .mobile-chart{
        display: none;
    }
}









/* Styling for small screens */

@media (max-width:603px){
    .sidebar{
        display: none;
    }
    .topbar{
        left: 0;
        width: 100%;
    }
    .dashboard, .settings, .wallet{
        width: 100%;
        left: 0;
        top: 125px;
        padding-bottom: 200px;
        
    }
    .box-horizontal{
        width: 80%;
        display: block;
        flex: 50%;
        margin: 0 10%;
        margin-top: 25px;
    }
    .horizontal-box{
        margin-left: 0;
        margin-top: 20px;
    }
    .topbar{
        display: none;
    }
    .forex-trade-view-widget{
        display: none;
    }
    .mobile-chart{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container{
        width: 90%;
        margin: 0;
        background-color: var(--color-white);
        padding: 15px;
        border-radius: 15px;
        margin-top: 20px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    
    }
    
    .container .top{
        display: flex;
        align-items: center;
         width: 90%;
        justify-content: space-between;
       
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: 2px solid var(--color-black);
    }
    
    .container .top h4{
        cursor: pointer;
    }
    .password-setting-body1{
        display: block;

        width: 90%;
        padding: 10px;
        border: 1px solid var(--color-black);
        border-radius: 15px;
    }
    .password-setting-body1 .change-password-button{
        padding: 10px;
        background-color: var(--primary-color);
        border-radius: 10px;
        color: var(--white-text);
        width: 50%;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
    }
    .password-setting-body1 .change-password-button:hover{
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--black-text);
        cursor: pointer;
    }
    
    .deposit-setting  .deposit-setting-body1 .crypto-wallet-bitcoin{
        width: 90%;
        display: block;
        padding: 10px;
        border: 1px solid var(--color-black);
        border-radius: 15px;
        margin-top: 10px;
    
    }
    .deposit-setting input{
        width: 50%;
        padding: 10px;
        font-size: 15px;
        color: var(--primary-color);
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border:  2px solid var(--primary-color);
        border-radius: 10px
        ;
    }
    .fa-copy{
        font-size:20px;
        cursor: pointer;
    }
    
    
}






/* Hiding Unecessary stuffs for large screens */

@media (min-width:800px){
    .mobile-top-bar{
        display: none;
    }
    .after-mobile-top-bar{
        display: none;
    }
    .mobile-chart{
        display: none;
    }
    .mobile-footer{
        display: none;
    }
}

/* } */